
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* Styles */
  }
  @media only screen  and (min-width : 1224px) {
    /* Styles */
    }
@media screen and (min-width: 400px) {
  body {
    background-color: lightgreen;
  }
}

@media screen and (min-width: 800px) {
  body {
    background-color: lavender;
  }
}

.navbar {
    width: auto;
    background-color: #555;
    overflow: auto;
   
  }
  
  .navbar a {
    float: left;
    padding: 12px;
    margin: 0px;
    color: white;
    text-decoration: none;
    display: inline;
    font-size: 17px;
    width: 20%;
    text-align: center; 
  }
  
  .navbar a:hover {
    background-color:#FFB7B0;
  }
  
  
  @media screen and (max-width: 650px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left; }

  }

.heading {
color: #B83B4F;
font-size: 56px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
}
    

.p {
   
  width: max(88vw, 200px); 
  display: inline-flex;
  margin-left: 50px;
  color:#96748F;
  font-size: 15px;
  font-family: monospace;


}

.footer {

 position: fixed;
 left: 0px;
 bottom: 10px;
 width: 100%;
 text-align: center;
 background-color: #FFB7B0;
 padding: 10px;
 margin: 10px;
}