.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  
  .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 20%;
    text-align: center; 
  }
  
  .navbar a:hover {
    background-color: #000;
  }
  
  .navbar a.active {
    background-color: #04AA6D;
  }
  
  @media screen and (max-width: 650px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left; }

  }

.heading {
color: #B83B4F;
font-size: 56px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

.image{
    object-fit: contain;
    width: fit-content;
    height: fit-content;
    
}
.p {
    width: 300px;
    border: 15px solid green;
     padding: 50px;
    margin: 20px;
    color:#96748F;
    font-size: 36px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif


}

.footer {

 position: fixed;
 left: 0px;
 bottom: 0px;
 width: 100%;
 text-align: center;
  border: 2px dashed #ECB890;
  padding: 10px;
  margin: 10px;
}