body{
  margin: 0;
}


ul {
  list-style-type: none;
  margin-top: 0px;
  padding-top: 0;
  padding-left:0px;
  overflow: hidden;
  background-color: #f6f7f1;
 font-family: 'Monda', sans-serif;
  font-weight: 600;
  
  grid-row: 1/1;
  grid-column-start: 1;
  grid-column-end:4 ;
}

.navBar{
  grid-row: 1/1;
  grid-column-start: 1;
  grid-column-end:4 ;

}

li a {
 
  display: block;
  color: #db9487;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  grid-row: 1/1;
  grid-column-start: 1;
  grid-column-end:4 ;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #a1c9c9;
}

.wrapper{
 
height:100vh; width:100%;
margin-top: 0px;
margin-bottom: 0px;
/* grid-row: 1/1; */
grid-column-start: 1;
grid-column-end:4 ;
/* grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3);
grid-template-rows: 100px 200px 60px; */
}

#root{
  display: grid;
    grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 500px 500px 400px;
  width: 100%;
  
  bottom: 0;
  }