body{
    color: black;
    font-family: 'Lora', serif;

}

.images{
    width:250px;
    height:250px;
}

.nameContainer {
    display: grid;
    background-color: lightgray;
    grid-template-columns: 300px 300px 300px;
}

h1{
    color: red;
    font-family: 'Asul', sans-serif;
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color: black;

}


.names {
    font-size: 25px;
    color: burlywood;
}

