body {
 background: radial-gradient(#595cff, #c6f8ff);
}


.listContainer{
    margin: auto;
    height: fit-content;
    width: 700px;
    border-radius: 100px;
    border: 1px solid yellow;
    position: relative;
}

h3{
margin-left:45%;
font-size: 19px;


}

.myList{
    font-size: 15px;
}