body {
  background: radial-gradient(#70c7ec, #681fb0);
  text-align: center;
  font-family:"Raleway", sans-serif ;
}

.container {
  display: block;
  position: relative;
  top: 2%;
  left: 5%;
  right: 5%;
  width: 100%;
}

form {
  display: inline-block;
  height: fit-content;
  width: fit-content;
  text-align: left;
  color:#ffffff;
}

form input {
  display: inline-block;
  padding: 15px 15px 15px 10px;
  margin: 0px 20px 20px 10px;
  background-color: #ffffff;
  color: #34189c;
  font-family: "Raleway", sans-serif;
  box-shadow: 2px 5px #e33f84;

}


input[type=checkbox] {
 accent-color:#34189c;

} 

.listContainer {
  margin: auto;
  height: fit-content;
  width: fit-content;

}


h3 {
  float:relative;
  font-size: 30px;
  font-family: "Lobster", cursive;
  color: #f0e9e5;
  letter-spacing: 0.3rem;
  background: #34189c;
  box-shadow: 2px 5px #e33f84;
  width: 760px;
  margin-left: 40px;
  margin-right:40px;
  height: 60px;
  text-align: center;
  line-height: 200%;
}

.myList {
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  display: inline-block;
  height: auto;
  width:auto;
  /* text-align: center; */
}

h2 {
  font-family: "Lobster", cursive;
  color:#ffffff;
  text-align: center;
  letter-spacing: 0.3rem;

}

header {
  font-family: "Lobster", cursive;
  font-size: 70px;
  text-align: center;
  color: #70c7ec;
}

ul li {
  display: inline-block;
  list-style: none;
 margin:auto;
  width: auto;
  height: fit-content;
  justify-content: center;
}

li img {
  box-shadow: 5px 6px #e33f84;;
  border-radius: 1rem;
 float: relative;
}
