body{
    color:#edf2f4;
    background-color: #8d99ae;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


/* .container{
background-color: burlywood;
height: 800px;
width: 500px;
border: red;
margin: auto;
} */


.results{
  display: grid;
   
     height: fit-content;
    width: fit-content;
    margin: auto;
   
    
}

.App{
    display: flexbox;
}

form {
  background-color: #ef233c;
    display: inline-flexbox;
    padding-left: 10px;
    padding-right: 10px;;
    border: 2px solid #d90429;
    width: 50vw;
    height: 40vh;
    border-radius: 15px;
    margin: auto;
    color: #edf2f4;
    margin-top: 5vh;
  }

  input{
  
    margin-left: 10px;
    margin-bottom: 8px;

  }

  button {
    margin-top: 5px;
    padding-left: 10px;
    width: fit-content;
    background-color:#1f4590;
    color:#f0b666;
  }

  li {
    padding-top: 5px;
    border-radius: 1rem;
padding-left: 8px;
    width: 500px;
    height: fit-content;
    list-style: none;
    columns: 1fr;
    grid-row: auto;
    background-color: #2b2d42;
    margin-bottom: 10px;

  }