body{
    color:#1f4590;
    background-color: blanchedalmond;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


/* .container{
background-color: burlywood;
height: 800px;
width: 500px;
border: red;
margin: auto;
} */


.results{

    background-color: red;
    color: white;
    height: fit-content;
    width: 400px;
    list-style: none;
    display: inline-flex;
    border: solid black 1px;
    border-radius: 1rem;
    margin: auto;
   
    
}

.App{
    display: flexbox;
}

form {
    display: inline-flexbox;
    padding-left: 10px;
    border: 2px solid black;
    width: 50vw;
    height: 40vh;
    border-radius: 15px;
    margin: auto;
    margin-top: 5vh;
  }

  button {
    width: fit-content;
    background-color:#1f4590;
    color:#f0b666;
  }

  li {
    width: 200px;
    list-style: none;
    display: flex;
  }