body{
    color:black;
    background-color: blanchedalmond;
}

.results{
    background-color: red;
    color: white;
    height: fit-content;
    width: fit-content;
}

form {
    border: 2px solid black;
    width: 50vw;
    height: 40vh;
    border-radius: 25px;
    margin: auto;
    margin-top: 5vh;
  }