body {
  font-family: "Raleway", sans-serif;
}

header {
  margin-left: 15%;
  font-size: 80px;
  font-family: "Raleway", sans-serif;
}
.CardDiv {
  background-color: #004777;
  color: #efd28d;
  margin: 10%;
  width: 350px;
  height: fit-content;
  box-shadow: 0.5rem 0.5rem #00afb5, -0.5rem -0.5rem #ff7700;
}
header {
  justify-content: center;
  display: flex;
  margin: 2em;
  font-size: 34px;
}

.cardBody {
  display: flex;
  justify-content: center;
  list-style: none;
}
.title {
  justify-content: center;
  display: flex;
  font-size: 44px;
  font-weight: bold;
  padding: 3%;
  color: black;
}

li {
  display: flex;
  font-size: x-large;
  padding: 3%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  font-weight: bold;
  color: black;
}
.location {
  /* background-color: green; */
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 2rem;
  width: 20%;
  resize: both;
}
