body {
  font-family: 'Montserrat', sans-serif;
    color: black;
}

header {
  margin-left: 15%;
  font-size: 80px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;

}
.CardDiv {

  margin: 10%;
  width: 350px;
  height: fit-content;
  box-shadow: 0.5rem 0.5rem #00afb5, -0.5rem -0.5rem #ff7700;
  display: flex;
  justify-content: center;
  list-style: none;
}
header {
  justify-content: center;
  display: flex;
  margin: 2em;
  font-size: 34px;
}

.title {
  justify-content: center;
  display: flex;
  font-size: 44px;
  font-weight: bold;
  padding: 3%;
  color: black;
}

li {
  display: flex;
  font-size: x-large;
  padding: 3%;
  font-size: 20px;
  font-weight: bold;
  color: black;
}
.location {
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 2rem;
  width: 20%;
  resize: both;
}
