#header {
  text-align: center;
  background-color: white;
  border: solid black ;
  
}
#marioPic {      
  display: inline;  
}

#luigiPic {  
  display: inline;  
}

body {
  background-color: red;
}

#goomba {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
#bombs {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#cheep {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
#footer{
  background-color: aqua;
  text-align: center;
  text-decoration: underline;    
}
