body{
    background-color: #f6e4bc;
}



results{
display:inline-flex;
background-color: darkgrey;
border: darkorchid, 5px;
position: center;
width: fit-content;
height: fit-content;


}
.subResult {
    display: inline-flexbox;
    background-color: #ef9854;
    font-size: 16px;
    font-family: monospace;
    width: fit-content;
    height: fit-content;
}

.addResult {
    display: inline-flexbox;
    background-color: #9fd7cc;
    font-size: 16px;
    font-family: monospace;
    width: fit-content;
    height: fit-content;
    border: 1px, #233569;
    padding: 10px, white;


}

.multiplication{
    display: inline-flexbox;
    background-color: #fad27b;
    font-size: 16px;
    font-family: monospace;
    width: fit-content;
    height: fit-content;
}

.add{
    background-color: #9fd7cc;
    font-size: 12px, white;

}


.subtraction{
    background-color: #ef9854;;
    font-size: 12px, white;
    
}

.multi{
    background-color: #fad27b;
    font-size: 12px;
    color: white;
    border-style: solid, white;

}

.results{
    background-color: orangered;
font-family: monospace;
    width: fit-content;
    height: fit-content;

}