body{
  color:#ffd60a;
  margin:0px;
  padding-top: 0px;

}
.results{
  color: black;
  font-size: 36px;
}


ul {
  list-style-type: none;
  margin-top: 0px;
  padding-top: 0;
  overflow: hidden;
  background-color: #000814;
  font-family: 'M PLUS 1 Code', sans-serif;
}

/* li {
  /* float: left; 
} */

li a {
 
  display: block;
  color: #d71db2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #ffc300;
}


.astroResults{
  margin-left:45%;
  color: #d71db2;
  background-color:#ffc300 ;
  border-radius: 30px;
  margin-left: 5px;
  text-align: center;
  width: 300px;
}

form{
  margin-left: 40%;
  background-color:#ffc300 ;
  color:000814 ;
  height: 100px;
  width: 300px;
  border-radius: 2px;
  box-shadow: 5px 5px 4px 2px #d71db2;
}

input{
  margin-left:70px;
  margin-top: 10px;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 2px;

}

h2{
  color: #ffd60a;
  text-align: center;
}

h3{
  background-color:#d71db2;
  color: #4a38bc;
}

.weatherResults{
  margin-left:45%;
  color: #d71db2;
  background-color:#4a38bc ;
  border-radius: 10px;
  margin-left: 5px;
  text-align: center;
  width: 300px;

}

button{
  background-color: #d71db2;
  border-radius: 5px;
  color: #ffd60a;
  margin-left: 15px;

}