body{
  color:#000814;
  margin:0px;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0;
  font-family: 'Lora', serif;  
  width: 100%;
  display: inline;
  background-color: whitesmoke;


}


h4{
  background-color: #d71db2;
  padding-bottom:9px ;
}

h6{
  font-family: 'Lora', serif;
  font-style: italic;
  text-align: center;
  margin-left: 16px;
  padding-left: 10px;
  font-size: 24px;
}
.moonDiv{
  margin: auto;
  align-items: center;
  margin-left: 10px;


}

ul {
  list-style-type: none;
  margin-top: 0px;
  padding-top: 0;
  padding-left:0px;
  overflow: hidden;
  background-color: #000814;
  background-image: url("https://i.ibb.co/d2qdjgB/PS-Overlay-Night-Sky-2.jpg");
  font-family: 'M PLUS 1 Code', sans-serif;
  font-weight: 600;
  height: fit-content;
  grid-row: 1/1;
}


li a {
 
  display: block;
  color: #d71db2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #ffc300;
}


.astroResults{
 
  color: #d71db2;
  background-color:#ffc300 ;
  border-radius: 30px;
  margin: auto;
  text-align: center;
  width: 300px;
  height: auto;
}

.formDiv{
  width: 100%;
}
form{
  align-self: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  align-content: center;
  background-color:#ffc300 ;
  color:000814 ;
  height: 100px;
  width: 300px;
  border-radius: 3px;
  box-shadow: #d71db2 0 2px 12px,
  #881170 0 8px 18px;
}

input{
  margin-left:77px;
  margin-top: 10px;
  align-items: center;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 2px;

}

h2{
  color: #4a38bc;
  text-align: center;
  font-size: 20px;
  width: fit-content;
  margin: auto;
  margin-top: 15px;
  padding-top: 90px;
  margin-bottom: 8px;


}

h3{
  background-color:#d71db2;
  color: #ffd60a;
}
.weatherBox{
  margin: 10%;
  margin-left: 40%;
  padding-bottom: 150px;
}

.navBar{
  grid-row-start: 1;
  grid-row-end: 1;
  height: 10%;
}

.weatherResults{
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #ffc300;
  background-color:#4a38bc ;
  border-radius: 10px;
  margin-left: 5px;
  text-align: center;
  width: 300px;

}

button{
  background-color: #d71db2;
  border-radius: 5px;
  color: #ffd60a;
  margin-left: 15px;

}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p{
  font-size: 16px;
  text-align: center;
  margin-left: 10px;


}
.results{
  background-color:#4a38bc ;
  width: 600px;
  color: #ffd60a;
  font-size: 25px;
  font-family: 'Rokkitt', serif;;
  margin: auto;

}
h5{
  font-size: 36px;
  background-color:#000814 ;
  color: #d71db2;
  text-align: center;
  width: fit-content;
 margin: auto;
}


footer{
  
  border-top: 2px solid #4a38bc;
  width: 100%;
  /* background-color:#000814;  */
  color: #d71db2;
  margin-top: auto;
  text-align: center;
  height: 50px;
padding-bottom: 5px;
bottom: 0;

}

h1{
  text-align: center;
  font-size: 20px;
}


#more {display: none;;}

.myBtn{
  align-items: center;
  margin-left: 40%;
}

.moonPhase{
  background-color: #d71db2;
  color: #ffd60a;
}

.home{
  width: 100%;
  margin: auto;
  height: auto;
  padding-bottom: 100px;
}
span{
  font-family: 'Lora', serif;
  font-style: italic;
  text-align: center;
  margin-left: 16px;
  padding-left: 10px;
  font-size: 24px;
}

.card{
  padding-top:  100px;
  margin: auto;
  width: 315px; height:100px;
 position: relative; 
  cursor: pointer ; 
  /* background-color: #d71db2; */
}

.content{
  margin-top: 20px;
  cursor: pointer ; 
  position:absolute;
  width: 100%;
  bottom: 0;
  height: 100px;
  padding: .04em 1.5em;
  background-color: #4a38bc ;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  transform: scale(0.9);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.164);
  box-shadow: 0 0 20px rgba(0,0,0,.144);
  overflow: hidden;
  transition: all .4s;
}

.content p{
  font-size: 0.9em;
}
.card:hover .content{
  height: 260px;
  background-color: #d71db2;
}

.sign{
  /* margin: auto; */
  /* align-items: center; */
  justify-content: center;
}