body{
    font-family: 'Lora', serif;
    font-size: 1.25rem;
    margin: 0;
    display: block;
}

.mainNav{
    display: flex;
    height: auto;
    transition: background-color 0.2s;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    border-bottom: 1px solid transparent;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1030;
    display: flex;
font-family: 'Open Sans', sans-serif;
align-items: center;
font-size: 1.25rem;
flex-wrap: nowrap;
justify-content: flex-start;

}
.navbar{
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}



.navbar-brand{
    color:white;
    text-decoration: none;
    font-weight: 800;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    white-space: nowrap;
}
.navbar-collapse{
    display: flex !important;
    flex-basis: auto;
    flex-grow: 1;
align-items: center;
font-weight: 800;



}
.navbar-nav {
  
list-style: none;
text-decoration: none;
flex-direction: row;
 display: flex;
padding-left: 0px;
padding-right: 15px;
margin-bottom: 0;
list-style: none;
padding-top: 0 !important;
padding-bottom: 0 !important;
margin-left: auto !important;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
padding-inline-start: 40px; 
}

.nav-link{
    list-style: none;
    text-decoration: none;
    text-decoration: none;
    color: white;
    font-weight: 800;

}
.nav-item{
    text-align: -webkit-match-parent;
    /* color: white;
text-decoration: none;
list-style: none;
font-weight: 800; */
}

.container{
    display: flex;
    width:100%;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    padding-right: 3rem !important;
    padding-left: 3rem !important;
    margin-right: auto;
    margin-left: auto;
}
Header{
    
    background: no-repeat center center; 
 background-color: #6c757d;
    background-size: cover;
    background-attachment:scroll;
    width: auto;
    height: 100vh;
    display: block;
    overflow:hidden
}

masthead{
    display: block;
    position: relative;
    margin-bottom: 3rem;
    padding-top: 12.5rem;  
    padding-bottom: 12.5rem;
}

.containerPostion{
    padding-right: 3rem !important;
    padding-left: 3rem !important;
    position: relative !important;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}


.mastconatiner{
    display:flex;
    color: white;
    font-family: 'Lora', serif;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
    justify-content: center !important;

}

.innerBox{
    display: block;
     flex: 0 0 auto;
   
    max-width: 100%;  
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);

}
